# Node
node_modules/
dist/
dist-ssr/
build/
.npm
.yarn

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python / Scripts
__pycache__/
*.pyc
.venv/
venv/
